.card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .card-body {
    padding: 20px;
  }

  .container {
    text-align: center;
    padding: 20px 0px 0px 0px;
  }

  .container1 {
    text-align: center;
    padding: 20px;
    background-color: var(--secundary-color);
  }
  .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .description {
    font-size: 20px;
    padding-bottom: 20px;
  }

/* Estilo base del botón */
.custom-button {
    background-color:  var(--primary-color);
    color: var(--text-color-inverse);
    border: none; /* Quitamos el borde */
    padding: 10px 20px; 
    cursor: pointer; /* Cambiamos el cursor */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

/* Estilo para cuando el cursor pasa sobre el botón */
.custom-button:hover {
    background-color: var(--secundary-color);
    color: var(--primary-color);
}